#
#   rosconsole will find this file by default at $ROS_ROOT/config/rosconsole.config
#
#   You can define your own by e.g. copying this file and setting
#   ROSCONSOLE_CONFIG_FILE (in your environment) to point to the new file
#

log4j.logger.ros=INFO, ROSRollingFileAppender
log4j.appender.ROSRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.ROSRollingFileAppender.File=/home/nvidia/ros/logs/ros/ros.log
log4j.appender.ROSRollingFileAppender.BufferedIO=true
log4j.appender.ROSRollingFileAppender.BufferSize=32768
log4j.appender.ROSRollingFileAppender.MaxFileSize=100MB
log4j.appender.ROSRollingFileAppender.MaxBackupIndex=5
log4j.appender.ROSRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.ROSRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

log4j.logger.ros.roscpp.superdebug=WARN, RoscppSuperDebugRollingFileAppender
log4j.appender.RoscppSuperDebugRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.RoscppSuperDebugRollingFileAppender.File=/home/nvidia/ros/logs/roscpp_superdebug/roscpp_superdebug.log
log4j.appender.RoscppSuperDebugRollingFileAppender.BufferedIO=true
log4j.appender.RoscppSuperDebugRollingFileAppender.BufferSize=32768
log4j.appender.RoscppSuperDebugRollingFileAppender.MaxFileSize=100MB
log4j.appender.RoscppSuperDebugRollingFileAppender.MaxBackupIndex=5
log4j.appender.RoscppSuperDebugRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.RoscppSuperDebugRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#example
#log4j.logger.ros.pubsub=INFO, PubsubRollingFileAppender
#log4j.appender.PubsubRollingFileAppender=org.apache.log4j.RollingFileAppender
#log4j.appender.PubsubRollingFileAppender.File=/home/nvidia/ros/logs/pubsub/pubsub.log
#log4j.appender.PubsubRollingFileAppender.BufferedIO=true
#log4j.appender.PubsubRollingFileAppender.BufferSize=32768
#log4j.appender.PubsubRollingFileAppender.MaxFileSize=100MB
#log4j.appender.PubsubRollingFileAppender.MaxBackupIndex=5
#log4j.appender.PubsubRollingFileAppender.layout=org.apache.log4j.PatternLayout
#log4j.appender.PubsubRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_self_checking
log4j.logger.ros.usharing_self_checking=INFO, UsharingSelfCheckingRollingFileAppender
log4j.appender.UsharingSelfCheckingRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingSelfCheckingRollingFileAppender.File=/home/nvidia/ros/logs/usharing_self_checking/usharing_self_checking.log
log4j.appender.UsharingSelfCheckingRollingFileAppender.BufferedIO=true
log4j.appender.UsharingSelfCheckingRollingFileAppender.BufferSize=32768
log4j.appender.UsharingSelfCheckingRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingSelfCheckingRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingSelfCheckingRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingSelfCheckingRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_chassis_driver
log4j.logger.ros.usharing_chassis_driver=INFO, UsharingChassisDriverRollingFileAppender
log4j.appender.UsharingChassisDriverRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingChassisDriverRollingFileAppender.File=/home/nvidia/ros/logs/usharing_chassis_driver/usharing_chassis_driver.log
log4j.appender.UsharingChassisDriverRollingFileAppender.BufferedIO=true
log4j.appender.UsharingChassisDriverRollingFileAppender.BufferSize=32768
log4j.appender.UsharingChassisDriverRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingChassisDriverRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingChassisDriverRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingChassisDriverRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_mmwave_driver
log4j.logger.ros.usharing_mmwave_driver=INFO, UsharingMmwaveDriverRollingFileAppender
log4j.appender.UsharingMmwaveDriverRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingMmwaveDriverRollingFileAppender.File=/home/nvidia/ros/logs/usharing_mmwave_driver/usharing_mmwave_driver.log
log4j.appender.UsharingMmwaveDriverRollingFileAppender.BufferedIO=true
log4j.appender.UsharingMmwaveDriverRollingFileAppender.BufferSize=32768
log4j.appender.UsharingMmwaveDriverRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingMmwaveDriverRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingMmwaveDriverRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingMmwaveDriverRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_ins_driver
log4j.logger.ros.usharing_ins_driver=INFO, UsharingInsDriverRollingFileAppender
log4j.appender.UsharingInsDriverRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingInsDriverRollingFileAppender.File=/home/nvidia/ros/logs/usharing_ins_driver/usharing_ins_driver.log
log4j.appender.UsharingInsDriverRollingFileAppender.BufferedIO=true
log4j.appender.UsharingInsDriverRollingFileAppender.BufferSize=32768
log4j.appender.UsharingInsDriverRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingInsDriverRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingInsDriverRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingInsDriverRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_lidar_odometry_location
log4j.logger.ros.usharing_lidar_odometry_location=INFO, UsharingLidarOdometryLocationRollingFileAppender
log4j.appender.UsharingLidarOdometryLocationRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingLidarOdometryLocationRollingFileAppender.File=/home/nvidia/ros/logs/usharing_lidar_odometry_location/usharing_lidar_odometry_location.log
log4j.appender.UsharingLidarOdometryLocationRollingFileAppender.BufferedIO=true
log4j.appender.UsharingLidarOdometryLocationRollingFileAppender.BufferSize=32768
log4j.appender.UsharingLidarOdometryLocationRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingLidarOdometryLocationRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingLidarOdometryLocationRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingLidarOdometryLocationRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_lidar_ndt
log4j.logger.ros.usharing_lidar_ndt=INFO, UsharingLidarNdtRollingFileAppender
log4j.appender.UsharingLidarNdtRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingLidarNdtRollingFileAppender.File=/home/nvidia/ros/logs/usharing_lidar_ndt/usharing_lidar_ndt.log
log4j.appender.UsharingLidarNdtRollingFileAppender.BufferedIO=true
log4j.appender.UsharingLidarNdtRollingFileAppender.BufferSize=32768
log4j.appender.UsharingLidarNdtRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingLidarNdtRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingLidarNdtRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingLidarNdtRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_control_bus
log4j.logger.ros.usharing_control_bus=INFO, UsharingControlRollingFileAppender
log4j.appender.UsharingControlRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingControlRollingFileAppender.File=/home/nvidia/ros/logs/usharing_control_bus/usharing_control_bus.log
log4j.appender.UsharingControlRollingFileAppender.BufferedIO=true
log4j.appender.UsharingControlRollingFileAppender.BufferSize=32768
log4j.appender.UsharingControlRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingControlRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingControlRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingControlRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_program_monitor
log4j.logger.ros.usharing_program_monitor=INFO, UsharingProgramMonitorRollingFileAppender
log4j.appender.UsharingProgramMonitorRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingProgramMonitorRollingFileAppender.File=/home/nvidia/ros/logs/usharing_program_monitor/usharing_program_monitor.log
log4j.appender.UsharingProgramMonitorRollingFileAppender.BufferedIO=true
log4j.appender.UsharingProgramMonitorRollingFileAppender.BufferSize=32768
log4j.appender.UsharingProgramMonitorRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingProgramMonitorRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingProgramMonitorRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingProgramMonitorRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_parameters_publisher
log4j.logger.ros.usharing_parameters_publisher=INFO, UsharingParamPubRollingFileAppender
log4j.appender.UsharingParamPubRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingParamPubRollingFileAppender.File=/home/nvidia/ros/logs/usharing_parameters_publisher/usharing_parameters_publisher.log
log4j.appender.UsharingParamPubRollingFileAppender.BufferedIO=true
log4j.appender.UsharingParamPubRollingFileAppender.BufferSize=32768
log4j.appender.UsharingParamPubRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingParamPubRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingParamPubRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingParamPubRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_ultrasonic_driver
log4j.logger.ros.usharing_ultrasonic_driver=INFO, UsharingUltrasonicDriverRollingFileAppender
log4j.appender.UsharingUltrasonicDriverRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingUltrasonicDriverRollingFileAppender.File=/home/nvidia/ros/logs/usharing_ultrasonic_driver/usharing_ultrasonic_driver.log
log4j.appender.UsharingUltrasonicDriverRollingFileAppender.BufferedIO=true
log4j.appender.UsharingUltrasonicDriverRollingFileAppender.BufferSize=32768
log4j.appender.UsharingUltrasonicDriverRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingUltrasonicDriverRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingUltrasonicDriverRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingUltrasonicDriverRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_camera_bev
log4j.logger.ros.usharing_camera_bev=INFO, UsharingCameraBevRollingFileAppender
log4j.appender.UsharingCameraBevRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingCameraBevRollingFileAppender.File=/home/nvidia/ros/logs/usharing_camera_bev/usharing_camera_bev.log
log4j.appender.UsharingCameraBevRollingFileAppender.BufferedIO=true
log4j.appender.UsharingCameraBevRollingFileAppender.BufferSize=32768
log4j.appender.UsharingCameraBevRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingCameraBevRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingCameraBevRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingCameraBevRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_camera
log4j.logger.ros.usharing_camera=INFO, UsharingCameraRollingFileAppender
log4j.appender.UsharingCameraRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingCameraRollingFileAppender.File=/home/nvidia/ros/logs/usharing_camera/usharing_camera.log
log4j.appender.UsharingCameraRollingFileAppender.BufferedIO=true
log4j.appender.UsharingCameraRollingFileAppender.BufferSize=32768
log4j.appender.UsharingCameraRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingCameraRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingCameraRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingCameraRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_fusion
log4j.logger.ros.usharing_fusion=INFO, UsharingFusionRollingFileAppender
log4j.appender.UsharingFusionRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingFusionRollingFileAppender.File=/home/nvidia/ros/logs/usharing_fusion/usharing_fusion.log
log4j.appender.UsharingFusionRollingFileAppender.BufferedIO=true
log4j.appender.UsharingFusionRollingFileAppender.BufferSize=32768
log4j.appender.UsharingFusionRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingFusionRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingFusionRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingFusionRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_prediction
log4j.logger.ros.usharing_prediction=INFO, UsharingPredictionRollingFileAppender
log4j.appender.UsharingPredictionRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingPredictionRollingFileAppender.File=/home/nvidia/ros/logs/usharing_prediction/usharing_prediction.log
log4j.appender.UsharingPredictionRollingFileAppender.BufferedIO=true
log4j.appender.UsharingPredictionRollingFileAppender.BufferSize=32768
log4j.appender.UsharingPredictionRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingPredictionRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingPredictionRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingPredictionRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_planning_bus
log4j.logger.ros.usharing_planning_bus=INFO, UsharingPlanningBusRollingFileAppender
log4j.appender.UsharingPlanningBusRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingPlanningBusRollingFileAppender.File=/home/nvidia/ros/logs/usharing_planning_bus/usharing_planning_bus.log
log4j.appender.UsharingPlanningBusRollingFileAppender.BufferedIO=true
log4j.appender.UsharingPlanningBusRollingFileAppender.BufferSize=32768
log4j.appender.UsharingPlanningBusRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingPlanningBusRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingPlanningBusRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingPlanningBusRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_camera_trafficlight
log4j.logger.ros.usharing_camera_trafficlight=INFO, UsharingCameraTrafficLightRollingFileAppender
log4j.appender.UsharingCameraTrafficLightRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingCameraTrafficLightRollingFileAppender.File=/home/nvidia/ros/logs/usharing_camera_trafficlight/usharing_camera_trafficlight.log
log4j.appender.UsharingCameraTrafficLightRollingFileAppender.BufferedIO=true
log4j.appender.UsharingCameraTrafficLightRollingFileAppender.BufferSize=32768
log4j.appender.UsharingCameraTrafficLightRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingCameraTrafficLightRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingCameraTrafficLightRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingCameraTrafficLightRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_camera_fisheye
log4j.logger.ros.usharing_camera_fisheye=INFO, UsharingCameraFisheyeRollingFileAppender
log4j.appender.UsharingCameraFisheyeRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingCameraFisheyeRollingFileAppender.File=/home/nvidia/ros/logs/usharing_camera_fisheye/usharing_camera_fisheye.log
log4j.appender.UsharingCameraFisheyeRollingFileAppender.BufferedIO=true
log4j.appender.UsharingCameraFisheyeRollingFileAppender.BufferSize=32768
log4j.appender.UsharingCameraFisheyeRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingCameraFisheyeRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingCameraFisheyeRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingCameraFisheyeRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_hdm_matching_location
log4j.logger.ros.usharing_hdm_matching_location=INFO, UsharingHdmMatchLocRollingFileAppender
log4j.appender.UsharingHdmMatchLocRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingHdmMatchLocRollingFileAppender.File=/home/nvidia/ros/logs/usharing_hdm_matching_location/usharing_hdm_matching_location.log
log4j.appender.UsharingHdmMatchLocRollingFileAppender.BufferedIO=true
log4j.appender.UsharingHdmMatchLocRollingFileAppender.BufferSize=32768
log4j.appender.UsharingHdmMatchLocRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingHdmMatchLocRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingHdmMatchLocRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingHdmMatchLocRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_global_fusion_location
log4j.logger.ros.usharing_global_fusion_location=INFO, UsharingGlobalFusionLocRollingFileAppender
log4j.appender.UsharingGlobalFusionLocRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingGlobalFusionLocRollingFileAppender.File=/home/nvidia/ros/logs/usharing_global_fusion_location/usharing_global_fusion_location.log
log4j.appender.UsharingGlobalFusionLocRollingFileAppender.BufferedIO=true
log4j.appender.UsharingGlobalFusionLocRollingFileAppender.BufferSize=32768
log4j.appender.UsharingGlobalFusionLocRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingGlobalFusionLocRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingGlobalFusionLocRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingGlobalFusionLocRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_map_distributor
log4j.logger.ros.usharing_map_distributor=INFO, UsharingMapDistributorRollingFileAppender
log4j.appender.UsharingMapDistributorRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingMapDistributorRollingFileAppender.File=/home/nvidia/ros/logs/usharing_map_distributor/usharing_map_distributor.log
log4j.appender.UsharingMapDistributorRollingFileAppender.BufferedIO=true
log4j.appender.UsharingMapDistributorRollingFileAppender.BufferSize=32768
log4j.appender.UsharingMapDistributorRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingMapDistributorRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingMapDistributorRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingMapDistributorRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_map_distributor_eudm
log4j.logger.ros.usharing_map_distributor_eudm=INFO, UsharingMapDistEudmRollingFileAppender
log4j.appender.UsharingMapDistEudmRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingMapDistEudmRollingFileAppender.File=/home/nvidia/ros/logs/usharing_map_distributor_eudm/usharing_map_distributor_eudm.log
log4j.appender.UsharingMapDistEudmRollingFileAppender.BufferedIO=true
log4j.appender.UsharingMapDistEudmRollingFileAppender.BufferSize=32768
log4j.appender.UsharingMapDistEudmRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingMapDistEudmRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingMapDistEudmRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingMapDistEudmRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_system_data_upload
log4j.logger.ros.usharing_system_data_upload=INFO, UsharingSystemDataUploadRollingFileAppender
log4j.appender.UsharingSystemDataUploadRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingSystemDataUploadRollingFileAppender.File=/home/nvidia/ros/logs/usharing_system_data_upload/usharing_system_data_upload.log
log4j.appender.UsharingSystemDataUploadRollingFileAppender.BufferedIO=true
log4j.appender.UsharingSystemDataUploadRollingFileAppender.BufferSize=32768
log4j.appender.UsharingSystemDataUploadRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingSystemDataUploadRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingSystemDataUploadRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingSystemDataUploadRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_routing
log4j.logger.ros.usharing_routing=INFO, UsharingRoutingRollingFileAppender
log4j.appender.UsharingRoutingRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingRoutingRollingFileAppender.File=/home/nvidia/ros/logs/usharing_routing/usharing_routing.log
log4j.appender.UsharingRoutingRollingFileAppender.BufferedIO=true
log4j.appender.UsharingRoutingRollingFileAppender.BufferSize=32768
log4j.appender.UsharingRoutingRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingRoutingRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingRoutingRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingRoutingRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_safety_diagnosis
log4j.logger.ros.usharing_safety_diagnosis=INFO, UsharingSafetyDiagRollingFileAppender
log4j.appender.UsharingSafetyDiagRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingSafetyDiagRollingFileAppender.File=/home/nvidia/ros/logs/usharing_safety_diagnosis/usharing_safety_diagnosis.log
log4j.appender.UsharingSafetyDiagRollingFileAppender.BufferedIO=true
log4j.appender.UsharingSafetyDiagRollingFileAppender.BufferSize=32768
log4j.appender.UsharingSafetyDiagRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingSafetyDiagRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingSafetyDiagRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingSafetyDiagRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_node_diagnosis
log4j.logger.ros.usharing_node_diagnosis=INFO, UsharingNodeDiagRollingFileAppender
log4j.appender.UsharingNodeDiagRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingNodeDiagRollingFileAppender.File=/home/nvidia/ros/logs/usharing_node_diagnosis/usharing_node_diagnosis.log
log4j.appender.UsharingNodeDiagRollingFileAppender.BufferedIO=true
log4j.appender.UsharingNodeDiagRollingFileAppender.BufferSize=32768
log4j.appender.UsharingNodeDiagRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingNodeDiagRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingNodeDiagRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingNodeDiagRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_fault_diagnosis
log4j.logger.ros.usharing_fault_diagnosis=INFO, UsharingFaultDiagRollingFileAppender
log4j.appender.UsharingFaultDiagRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingFaultDiagRollingFileAppender.File=/home/nvidia/ros/logs/usharing_fault_diagnosis/usharing_fault_diagnosis.log
log4j.appender.UsharingFaultDiagRollingFileAppender.BufferedIO=true
log4j.appender.UsharingFaultDiagRollingFileAppender.BufferSize=32768
log4j.appender.UsharingFaultDiagRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingFaultDiagRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingFaultDiagRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingFaultDiagRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n

#usharing_arbitrate_diagnosis
log4j.logger.ros.usharing_arbitrate_diagnosis=INFO, UsharingArbirateDiagRollingFileAppender
log4j.appender.UsharingArbirateDiagRollingFileAppender=org.apache.log4j.RollingFileAppender
log4j.appender.UsharingArbirateDiagRollingFileAppender.File=/home/nvidia/ros/logs/usharing_arbitrate_diagnosis/usharing_arbitrate_diagnosis.log
log4j.appender.UsharingArbirateDiagRollingFileAppender.BufferedIO=true
log4j.appender.UsharingArbirateDiagRollingFileAppender.BufferSize=32768
log4j.appender.UsharingArbirateDiagRollingFileAppender.MaxFileSize=100MB
log4j.appender.UsharingArbirateDiagRollingFileAppender.MaxBackupIndex=5
log4j.appender.UsharingArbirateDiagRollingFileAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.UsharingArbirateDiagRollingFileAppender.layout.ConversionPattern=[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%F:%L]%m%n